.container-footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  min-height: 920px;
  margin: 0; }
  .container-footer .wrapper {
    width: 100%;
    position: relative;
    margin: 0; }
  .container-footer video {
    width: 100%;
    height: 920px;
    position: absolute;
    z-index: 1;
    margin: 0; }
  .container-footer p {
    text-align: center;
    position: absolute;
    color: white;
    font-size: 126px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 350px;
    z-index: 10;
    cursor: pointer; }
    .container-footer p:hover {
      text-decoration: underline; }
